SHELL=/bin/bash
date
echo "crontab.sh run"
cd /home/ubuntu/trd_app
./venv/bin/activate
./venv/bin/python --version
./venv/bin/python manage.py runscript crontab_bot_1m > live_run.log
./venv/bin/python manage.py runscript crontab_main_indicators_1m
date