{% extends 'base.html' %}
{% block title %}Home{% endblock %}
{% block nav_title %}Home{% endblock %}

{% load static %}
{% block content %}
<h1>Home</h1>

<div class="container text-center">
    <img src="{% static 'images/login.png' %}" height="100"/>
</div>


<div class="container">
    <h6 class="info">Top30 Criptos </h6>
    <div>Status:    
        <b class="{{breadth_class}}">{{str_breadth}}</b>
        <div>Breadth: <b>{{breadth}}</b></div>
        <div>Ultima actualizacion: <b>{{last_update}}</b></div>
    </div>
    {% if alerts_log %}
        <div>Log:
            {% for log in alerts_log %}
            <div>{{log}}</div>            
            {% endfor %}

        </div>
    {% endif %}
    
    
</div>

{% endblock %}

