.html_alert ul li {
    list-style: none;

}

.data {
    font-weight: bolder;
}

.table-dg thead tr th {
    vertical-align: top;
}
.table-hover tbody tr:hover {
    border-top: 1px solid #aaaaaa !important; 
    border-bottom: 1px solid #aaaaaa !important; 
}