{% extends 'base.html' %}
{% block title %}Back Testing{% endblock %}
{% block nav_title %}Back Testing{% endblock %}

{% load static %}
{% load tz %}

{% block action_bar %}
    <a class="btn btn-primary btn-sm" href="{% url 'backtesting' %}">Action Bar1</a>
{% endblock %}

{% block css %}
<style>
    /* CSS */

</style>
{% endblock %}

{% block content %}
<div class="container">

    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Illo amet cumque nam qui autem error? Amet culpa, eius nihil neque quam suscipit natus consectetur laudantium aperiam, corrupti velit impedit labore!
</div>
    
{% endblock %}

{% block script %}
<script>
    /* SCRIPTS */
</script>
{% endblock %}