{% extends 'base.html' %}
{% block title %}Alertas{% endblock %}
{% block nav_title %}Alertas{% endblock %}

{% load static %}

{% block css %}
<style>
    .box {
        width: 22%;  /* 1/3 del ancho */
        padding: 0.5rem;
        margin: 0.5rem;
        box-sizing: border-box;
        border-radius: 5px;
        border: 1px solid #444;
    }
</style>
{% endblock %}

{% block content %}
{% if DATA_FILE %}
    <div class="container">
        <h4>Symbols: {{qty_symbols}}</h4>
        <h4>Precios 1m: {{qty_c_1m}} minutos</h4>
        <h4>Ultima Actualizacion: {{updated}}</h4>
        <h4>Duracion del proceso: {{proc_duration}} segundos</h4>
    </div>

    {% if log_alerts %}
    <div class="container">
        <h2>Alertas</h2>
        <div class="d-flex flex-wrap">
            {% for symbol,alert in log_alerts.items %}

            <div class="box" >
                <div class="text-{{alert.class}}">
                    {{alert.origin}} <b>{{alert.symbol}}</b> {{alert.timeframe}} 
                </div>
                <div>Entrada: {{alert.in_price}}</div>
                <div>Take Profit: {{alert.tp1}}</div>
                <div>Stop Loss: {{alert.sl1}}</div>
                
                <div class="text-end text-secondary">
                    <small>{{alert.start|date:"d/m/Y H:i"}}</small>
                </div>
            </div>
            {% endfor%}
        </div>
    </div>
    {% endif %}

{% else %}
    <div class="container text-center">
        <h6>No existe registro de datos</h6>
    </div>
{% endif %}


{% endblock %}

