{% extends 'base.html' %}
{% block title %}Alerta {{alert.name}}{% endblock %}
{% block nav_title %}Alerta {{alert.name}}{% endblock %}
    
{% block head %}
<script
    type="text/javascript"
    src="https://unpkg.com/lightweight-charts/dist/lightweight-charts.standalone.production.js">
    </script>
{% endblock %}

{% load static %}

{% block css %}
<style>
</style>
{% endblock %}

{% block content %}
{% if DATA_FILE %}

    <div class="container ">
        <div class="text-end  p-2">
            <div class="col btn-group" role="group">
                <a class="btn btn-secondary btn-sm" href="{% url 'alerts_list' %}">
                    Alertas
                </a>                  
                <a href="https://www.binance.com/es-LA/futures/{{alert.symbol}}" class="btn btn-primary btn-sm" target="_bnc">
                    <i class="bi bi-link"></i> Ver en Binance 
                </a>  
            </div>
        </div>
        <div class="row">

            <div class="col-4">
                <div class="mb-3 p-2  border border-secondary rounded">
                    <h6 class="text-{{alert.class}}">{{alert.origin}} [{{alert.symbol}}] [{{alert.timeframe}}]</h6>
                    <div>Entrada: {{alert.in_price}}</div> 
                    <div>Precio: <span id="actual_price">{{actual_price}}</span> <span id="price_in_perc"></span></div>    
                    <div>T/P: {{alert.tp1}} <span class="text-secondary">({{alert.tp1_perc}} %)</span></div>
                    <div>S/L: {{alert.sl1}}   <span class="text-secondary">({{alert.sl1_perc}} %)</span></div>
                </div>
                <div class="border border-secondary rounded p-2"  id="trade_operation">
                    <h6 class="text-info">Ejecucion del trade</h6>
                    
                    <div class="row" id="trade_parameters">
                        <div class="form-group col-6">
                            <div class="input-group ">
                                <span class="input-group-text" >USDT</span>                                    
                                <input type="text" id="quote_qty" class="form-control" value="{{quote_qty}}" placeholder="0.00">
                            </div>
                        </div>
                        <div class="form-group col-6">
                            <div class="input-group ">
                                {% if alert.side > 0 %}
                                <button class="btn btn-success btn-block" onclick="execute_trade();">Abrir trade LONG</button>
                                {% else %}
                                <button class="btn btn-danger btn-block"  onclick="execute_trade();">Abrir trade SHORT</button>
                                {% endif %}
                            </div>
                        </div>

                    </div>
                    <div class="row" id="trade_log"></div>


                </div>
            </div>

            <div class="col-8 p-2 border border-secondary rounded">
                <h6 class="text-info">Gemini</h6>
                <div class="p-2" id="ia_prompt">
                    {{ia_prompt}}
                </div>
                <div class="p-2" style="display:none;" id="ia_response"></div>
            </div>
        </div>
        <div class="row pt-4">
            <div class="col-4">
                <!-- TradingView Widget BEGIN -->
                <div class="tradingview-widget-container">
                <div class="tradingview-widget-container__widget"></div>
                <div class="tradingview-widget-copyright"><a href="https://es.tradingview.com/" rel="noopener nofollow" target="_blank"><span class="blue-text">Siga los mercados en TradingView</span></a></div>
                <script type="text/javascript" src="https://s3.tradingview.com/external-embedding/embed-widget-technical-analysis.js" async>
                {
                "interval": "15m",
                "isTransparent": false,
                "height": "425",
                "symbol": "BINANCE:{{alert.symbol}}.P",
                "showIntervalTabs": true,
                "displayMode": "single",
                "locale": "es",
                "colorTheme": "dark"
                }
                </script>
                </div>
                <!-- TradingView Widget END -->
            </div>
            <div class="col-8">
               <div id="chart"></div>
            </div>
        </div>
        
    </div>
    

{% else %}
    <div class="container text-center">
        <h6>No existe registro de datos</h6>
    </div>
{% endif %}


{% endblock %}


{% block script %}
<script>

    function execute_trade() {

        var quote_qty = 1*($('#quote_qty').val());
        if ($('#quote_qty').val() > 10)
        {
            $('#trade_parameters').hide();
            $('#trade_log').html('Procesando el trade. Aguarde un instante...')
            $('#trade_log').show();

            data = {
                symbol: '{{alert.symbol}}',
                quote_qty: quote_qty,
                side: {{alert.side}},
                in_price: {{alert.in_price}},
                tp1: {{alert.tp1}},
                sl1: {{alert.sl1}},
            }
            
            url = '{% url "alerts_execute" %}'
            get_ajax(url,data).done( function (rsp) {
                if (rsp)
                {
                    $('#trade_log').html('');
                    $('#trade_log').append('<div class="text-success">Ejecutado OK</div>');
                    //for (const clave in rsp) {
                    //    if (rsp.hasOwnProperty(clave)) {
                    //        $('#trade_log').append('<div>'+clave+': '+rsp[clave]+"</div>");
                    //    }
                    //} 
                }
            }); 
        }
        else
        {
            alert('Se debe especificar una cantidad de USDT mayor a 10.00!');
        }
    }

    function ia_analize()
    {
        var data = {
            prompt: $('#ia_prompt').text(),
        }
        url = '{% url "alerts_ia_prompt" %}';
        get_ajax(url,data).done( function (rsp) {
            if (rsp)
            {
                $('#ia_response').html('');
                if (rsp.ia_response) {
                    $('#ia_response').html('<div class="'+rsp.text_class+'">'+rsp.ia_response+"</div>");
                    $('#ia_response').show();
                }
            }
        }); 
    }


    $(document).ready(function () {

        updatePriceInPerc({{actual_price}})
        ia_analize();

        const chartContainer = document.getElementById('chart');

        // Create the Lightweight Chart within the container element
        const chart = LightweightCharts.createChart(chartContainer, {
            height: 400,
            width: parseInt($('#chart').css('width')),
            layout: {
                background: { color: '#222' },
                textColor: '#DDD',
            },
            grid: {
                vertLines: { color: '#444' },
                horzLines: { color: '#444' },
            },
            crosshair: { mode: LightweightCharts.CrosshairMode.Normal },
            timeScale: { timeVisible: true, secondsVisible: false },
        });
        chart.priceScale().applyOptions({
            borderColor: '#71649C',
        });
        chart.timeScale().applyOptions({
            borderColor: '#71649C',
        });
        window.addEventListener('resize', () => {
            chart.resize(parseInt($('#chart').css('width')), 400);
        });


        const mainSeries = chart.addSeries(LightweightCharts.CandlestickSeries, {
            lastValueVisible: true,
            priceLineVisible: true,
        });
        
        addCandlestickData(mainSeries);
        
        const tp1Series = chart.addSeries(LightweightCharts.LineSeries, {
            color: '#0ecb81',
            lineWidth: 1,
            lastValueVisible: false,
            priceLineVisible: false,
        });
        const tpData = [
            { time: formatDateTime('{{alert.start_dt}}'), value: {{alert.tp1}} },
        ];
        tp1Series.setData(tpData);
              
        const sl1Series = chart.addSeries(LightweightCharts.LineSeries, {
            color: '#f6465d',
            lineWidth: 1,
            lastValueVisible: false,
            priceLineVisible: false,
        });
        const slData = [
            { time: formatDateTime('{{alert.start_dt}}'), value: {{alert.sl1}} },
        ];
        sl1Series.setData(slData);
        
        const inPriceSeries = chart.addSeries(LightweightCharts.LineSeries, {
            color: '#ffffff',
            lineWidth: 1,
            lastValueVisible: false,
            priceLineVisible: false,
        });
        const inPriceData = [
            { time: formatDateTime('{{alert.start_dt}}'), value: {{alert.in_price}} },
        ];
        inPriceSeries.setData(inPriceData);
        
        // --- 3. CONEXIÓN WEBSOCKET PARA DATOS EN TIEMPO REAL ---
        const symbol = ('{{alert.symbol}}').toLowerCase();
        const interval = '{{alert.timeframe}}';
        const socket = new WebSocket(`wss://fstream.binance.com/ws/${symbol}@kline_${interval}`);

        socket.onmessage = (event) => {
            const message = JSON.parse(event.data);
            const kline = message.k; 

            upd_time = (kline.t / 1000) - (3 * 3600)  // Tiempo de inicio de la vela, GMT-3
            new_kline = {
                time: upd_time,
                open: parseFloat(kline.o),
                high: parseFloat(kline.h),
                low: parseFloat(kline.l),
                close: parseFloat(kline.c),
            }
            mainSeries.update(new_kline);

            updatePriceInPerc(parseFloat(kline.c));

            updateFullData(new_kline);

            tp1Series.update({
                time: upd_time,
                value: {{alert.tp1}},
            });
            sl1Series.update({
                time: upd_time,
                value: {{alert.sl1}},
            });
            inPriceSeries.update({
                time: upd_time,
                value: {{alert.in_price}},
            });
            
        };

        socket.onerror = (error) => {
            console.error('WebSocket Error:', error);
        };
    });

    const formatDateTime = (datetimeString) => {
        const date = new Date(datetimeString);
        return alignUnixTo15MinCandle(Math.floor(date.getTime() / 1000));
    };


    const alignUnixTo15MinCandle = (unixTimestamp) => {
        const interval = 15 * 60;  // 900 segundos
        return Math.floor(unixTimestamp / interval) * interval;
    };

    var fullData;
    function addCandlestickData(mainSeries) {

        klinesData = JSON.parse('{{ json_klines|safe }}');
        
        fullData = klinesData.map(kline => ({
            time: formatDateTime(kline.datetime),
            open: kline.open,
            high: kline.high,
            low: kline.low,
            close: kline.close
        }));



        mainSeries.setData(fullData);
    }

    function updateFullData(new_kline)
    {
        if (fullData.length > 0 && new_kline.time === fullData[fullData.length - 1].time) {
            fullData[fullData.length - 1] = new_kline;
        } else {
            fullData.push(new_kline);
        }
        console.log(fullData.length);
    }

    function updatePriceInPerc(actual_price)
    {
        var pi_perc = 0.0;
        var pi_legend = '';
        var pi_class = 'text-secondary';
        var in_range = true;
        if ({{alert.side}} > 0) { //LONG
            pi_perc = to_dec((actual_price/{{alert.in_price}}-1)*100 , 2);
            if ({{alert.sl1}}>actual_price>{{alert.tp1}})
            {
                pi_legend = 'Fuera de rango';
                pi_class = 'text-danger';
                in_range = false;
            }
            else if (Math.abs(pi_perc) < ({{alert.tp1_perc}}/3))  
            {
                pi_legend = '';
                pi_class = 'text-success';
            }
            else
            {
                pi_legend = '';
                pi_class = 'text-warning';
            }
            
        }
        else { //SHORT
            pi_perc = to_dec(({{alert.in_price}}/actual_price-1)*100 , 2);
            if ({{alert.sl1}}<actual_price<{{alert.tp1}})
            {
                pi_legend = 'Fuera de rango';
                pi_class = 'text-danger';
                in_range = false;
            }
            else if (Math.abs(pi_perc) < ({{alert.tp1_perc}}/3))  
            {
                pi_legend = '';
                pi_class = 'text-success';
            }
            else
            {
                pi_legend = '';
                pi_class = 'text-warning';
            }            
        }
        $('#actual_price').html(actual_price);
        $('#price_in_perc').html(`${pi_perc}% ${pi_legend}`);
        $('#price_in_perc').attr('class',pi_class);

        if (in_range)
            $('#trade_operation').show();
        else
            $('#trade_operation').hide();
    }
</script>

{% endblock %}