{% extends 'base.html' %}
{% block title %}Alertas{% endblock %}
{% block nav_title %}Alertas{% endblock %}

{% load static %}

{% block css %}
<style>
    .box {
        width: 22%;  /* 1/3 del ancho */
        padding: 0.5rem;
        margin: 0.5rem;
        box-sizing: border-box;
        border-radius: 5px;
        border: 1px solid #444;
        cursor: pointer;
    }
</style>
{% endblock %}

{% block content %}
{% if DATA_FILE %}
    <div class="container">
        <h4 class="text-info">Estado del archivo de datos</h4>
        <div>Symbols: {{qty_symbols}}</div>
        <div>Precios 1m: {{qty_c_1m}} minutos</div>
        <div>Ultima Actualizacion: {{updated}}</div>
        <div>Duracion del proceso: {{proc_duration}} segundos</div>
    </div>

    {% if log_alerts %}
    <div class="container small  pt-3">
        <h4 class="text-info">Alertas</h4>
        <div class="d-flex flex-wrap">
            {% for k,alert in log_alerts.items %}

            <div class="box" onclick="alert_view('{{k}}');">
                <div class="text-{{alert.class}}">
                    {{alert.origin}} <b>{{alert.symbol}}</b> {{alert.timeframe}} 
                </div>
                <div>Entrada: {{alert.in_price}}</div>
                <div>Take Profit: {{alert.tp1}} <span class="text-secondary">({{alert.tp1_perc}} %)</div>
                <div>Stop Loss: {{alert.sl1}}   <span class="text-secondary">({{alert.sl1_perc}} %)</div>
                {% if alert.actual_price_legend %}
                <div class="{{alert.actual_price_class}}">{{alert.actual_price_legend}}</div>
                {% endif %}
                
                <div class="text-end text-secondary">
                    {{alert.start|date:"d/m/Y H:i"}}
                </div>
            </div>
            {% endfor%}
        </div>
    </div>
    {% endif %}

{% else %}
    <div class="container text-center">
        <h6>No existe registro de datos</h6>
    </div>
{% endif %}


{% endblock %}


{% block script %}
<script>

    function alert_view(key) {
        let url = '/bot/alerts/analyze/'+key+'/'; 
        window.location.href = url;
    }

</script>

{% endblock %}