{% extends 'base.html' %}
{% block title %}Alertas{% endblock %}
{% block nav_title %}Alertas{% endblock %}

{% load static %}

{% block head %}
<script
    type="text/javascript"
    src="{% static 'scripts/lightweight-charts.lbisaro.js' %}?v0">
    </script>
<script
    type="text/javascript"
    src="{% static 'scripts/lightweight-charts.add.js' %}?v0">
    </script>

{% endblock %}

{% block css %}
<style>
    .box {
        padding: 0.5rem;
        margin: 0.5rem;
        box-sizing: border-box;
        border-radius: 5px;
        border: 1px solid #444;
        cursor: pointer;
    }

</style>
{% endblock %}

{% block action_bar %}
<div class="dropdown">
  <button class="btn btn-primary btn-sm dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
    Scanners
  </button>
  <ul class="dropdown-menu dropdown-menu-dark dropdown-menu-end">
    <li><a class="dropdown-item" href="{% url 'alerts_scanner' type='a' %}">Futuros - Anomalías de Momentum</a></li>
    <li><a class="dropdown-item" href="{% url 'alerts_scanner' type='b' %}">Futuros - Rango de precios</a></li>
    <li><a class="dropdown-item" href="{% url 'alerts_scanner' type='c' %}">Spot - Anomalías de Momentum</a></li>
    <li><a class="dropdown-item" href="{% url 'alerts_scanner' type='d' %}">Spot - Rango de precios</a></li>
  </ul>
</div>
{% endblock %}

{% block content %}

<div class="container">
    <h6 class="info text-info">Top30 Cripto {{timeframe_base}}/{{timeframe_agregado}}</h6>

    <div class="row">
        <div class="col-4">
            Status:  <b class="{{breadth_class}}">{{str_breadth}}</b>
        </div>
        <div class="col-4">
            Breadth General ({{timeframe_agregado}}): <b>{{breadth}}</b>
        </div>
        <div class="col-4">
            Ultima actualizacion: <b>{{last_update}}</b>
        </div>
    </div>
    <div class="d-flex flex-wrap">
        {% for clave, item in tf_data.items %}
            <div class="box" style="min-width: 20em;margin: 0.5em 0.5em 0.5em 0;">
                Breadth {{ item.interval }} <small class="float-end text-secondary">{{ item.total_ok }} Pares</small>
                <div class=" text-center {{item.class}}">{{ item.breadth }}</div> 
            </div>    
        {% endfor %}
    </div>
    <h6 class="text-info">historico</h6>
    <div id="top30_chart"></div>
   
</div>


{% if ALERTS_DATA_FILE %}
    <div class="container pt-4">
        <h6 class="text-info">Estado del archivo de datos de alertas</h6>
        <div>Symbols: {{qty_symbols}}</div>
        <div>Analizados: {{analized_symbols}}</div>
        <div>Precios 1m: {{qty_c_1m}} minutos</div>
        <div>Ultima Actualizacion: {{updated}}</div>
        <div>Duracion del proceso: {{proc_duration}} segundos</div>
    </div>

    {% if log_alerts %}
    <div class="container small  pt-3">
        <h4 class="text-info">Alertas</h4>
        <div class="d-flex flex-wrap" id="alerts_ok">
            {% for k,alert in log_alerts.items %}

            <div class="box {{alert.status_class}}" onclick="alert_view('{{k}}');">
                <div class="text-{{alert.class}}">
                    {{alert.origin}} <b>{{alert.symbol}}</b> {{alert.timeframe}} 
                </div>
                <div>Entrada: {{alert.in_price}}</div>
                <div>Take Profit: {{alert.tp1}} <span class="text-secondary">({{alert.tp1_perc}} %)</div>
                <div>Stop Loss: {{alert.sl1}}   <span class="text-secondary">({{alert.sl1_perc}} %)</div>
                {% if alert.actual_price_legend %}
                <div class="{{alert.actual_price_class}}">{{alert.actual_price_legend}}</div>
                {% endif %}
                
                <div class="text-end text-secondary">
                    {{alert.start|date:"d/m/Y H:i"}}
                </div>
            </div>
            {% endfor%}
        </div>
    </div>
    {% endif %}
{% endif %}


{% endblock %}


{% block script %}
{{ top30_history|json_script:"top30-history" }}
<script>

function alert_view(key) {
    let url = '/bot/alerts/analyze/'+key+'/'; 
    window.location.href = url;
}

$(document).ready(function () {

    //Preparando los datos
    const mainData = JSON.parse(document.getElementById('top30-history').textContent);
    const _0m15Data = mainData.map(d => ({
        time: formatTime(d[0]),
        value: d[1],
    }));
    const _1h01Data = mainData.map(d => ({
        time: formatTime(d[0]),
        value: d[2]
    }));
    const _1h04Data = mainData.map(d => ({
        time: formatTime(d[0]),
        value: d[3]
    }));

    //Creando el chart
    if (mainData.length>0){
        const lwc = new LWC('top30_chart',300);
        const startTime = _0m15Data[0];
        const endTime = _0m15Data[_0m15Data.length-1]

        lwc.addTop30Series(_0m15Data,'15m',color='#eb3f00');
        lwc.addTop30Series(_1h01Data,'1h',color='#EB7800');
        lwc.addTop30Series(_1h04Data,'4h',color='#ebdf00');
        lwc.addRefLineSeries(100, '#f6465daa');
        lwc.addRefLineSeries(50, '#888888');
        lwc.addRefLineSeries(0, '#0ecb81aa');
        chart = lwc.getChart();


    }

});



</script>

{% endblock %}