{% extends 'base.html' %}
{% block title %}Alerta {{alert.name}}{% endblock %}
{% block nav_title %}Alerta {{alert.name}}{% endblock %}

{% load static %}

{% block head %}
<script
    type="text/javascript"
    src="https://unpkg.com/lightweight-charts/dist/lightweight-charts.standalone.production.js">
    </script>

<script
    type="text/javascript"
    src="/static/scripts/ta-library.js">
    </script>

{% endblock %}


{% block css %}
<style>
</style>
{% endblock %}

{% block content %}
{% if DATA_FILE %}

    <div class="container ">
        <div class="text-end  p-2">
            <div class="col btn-group" role="group">
                <a class="btn btn-secondary btn-sm" href="{% url 'alerts_list' %}">
                    Alertas
                </a>                  
                <a href="https://www.binance.com/es-LA/futures/{{alert.symbol}}" class="btn btn-primary btn-sm" target="_bnc">
                    <i class="bi bi-link"></i> Ver en Binance 
                </a>  
            </div>
        </div>
        <div class="row">

            <div class="col-4 border border-secondary rounded mb-3 p-2">
                <h6 class="text-{{alert.class}}">{{alert.origin}} [{{alert.symbol}}] [{{alert.timeframe}}]</h6>
                <div>Entrada: {{alert.in_price}}</div> 
                <div>Precio: <span id="actual_price">{{actual_price}}</span> <span id="price_in_perc"></span></div>    
                <div>T/P: {{alert.tp1}} <span class="text-secondary">({{alert.tp1_perc}} %)</span></div>
                <div>S/L: {{alert.sl1}}   <span class="text-secondary">({{alert.sl1_perc}} %)</span></div>
                <div>Analisis Tecnico: <span id="main_verdict"></span></div>
            </div>
            <div class="col-8 border border-secondary rounded mb-3 p-2">
                <h6 class="text-info">Analisis de Gemini 
                    <span id="gemini_spinner" class="spinner-grow spinner-grow-sm" role="status">
                    </span>
                </h6>
                <small class="pt-3" id="ia_response">
                </small>
                <div id="ia_prompt" style="display: none;">{{ia_prompt}}</div>

            </div>
            
        </div>

        <div class="row">
            <div class="col-4 border border-secondary rounded p-2">
                <h6 class="text-info">Ejecucion del trade</h6>
                <div id="trade_operation_off"  class="text-warning">
                    La ejecucion del trade se encuentra fuera de rango
                </div>
                <div id="trade_operation">
                    <div class="row" id="trade_parameters">
                        <div class="form-group col-6">
                            <div class="input-group ">
                                <span class="input-group-text" >USDT</span>                                    
                                <input type="text" id="quote_qty" class="form-control" value="{{quote_qty}}" placeholder="0.00">
                            </div>
                        </div>
                        <div class="form-group col-6">
                            <div class="input-group ">
                                {% if alert.side > 0 %}
                                <button class="btn btn-success btn-block" onclick="execute_trade();">Abrir trade LONG</button>
                                {% else %}
                                <button class="btn btn-danger btn-block"  onclick="execute_trade();">Abrir trade SHORT</button>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                    <div class="row" id="trade_log"></div>
                </div>
            </div>
            <div id="chart" class="col-8 border border-secondary rounded "></div>
        </div>

        <div class="row pt-4 text-center">
            <h5 class="text-info">Analisis Tecnico Detallado</h5>
            <div class="col-4 border border-secondary rounded">
                <h6 class="text-info pt-2">Osciladores</h6>
                <div class="row">
                    <span id="osc_final_verdict"></span>
                </div>
                <div class="row">
                    <div class="col-4">Venta</div>
                    <div class="col-4">Neutral</div>
                    <div class="col-4">Compra</div>
                </div>
                <div class="row pb-2">
                    <div class="col-4" id="osc_sell_signals">-</div>
                    <div class="col-4" id="osc_neutral_signals">-</div>
                    <div class="col-4" id="osc_buy_signals">-</div>                    
                </div>
            </div>
            
            <div class="col-4 border border-secondary rounded">
                <h6 class="text-info pt-2">Resumen</h6>
                <div class="row">
                    <span id="final_verdict"></span>
                </div>                
                <div class="row">
                    <div class="col-4">Venta</div>
                    <div class="col-4">Neutral</div>
                    <div class="col-4">Compra</div>
                </div>
                <div class="row pb-2">
                    <div class="col-4" id="sell_signals">-</div>
                    <div class="col-4" id="neutral_signals">-</div>
                    <div class="col-4" id="buy_signals">-</div>                    
                </div>
            </div>
            <div class="col-4 border border-secondary rounded">
                <h6 class="text-info pt-2">Medias Moviles</h6>
                <div class="row">
                    <span id="ma_final_verdict"></span>
                </div>
                
                <div class="row">
                    <div class="col-4">Venta</div>
                    <div class="col-4">Neutral</div>
                    <div class="col-4">Compra</div>
                </div>
                <div class="row pb-2">
                    <div class="col-4" id="ma_sell_signals">-</div>
                    <div class="col-4" id="ma_neutral_signals">-</div>
                    <div class="col-4" id="ma_buy_signals">-</div>                    
                </div>
            </div>
        </div>
        <div class="row">
            <row class="col border border-secondary rounded">
                <h6 class="text-info pt-2 text-center">
                    Osciladores
                </h6>
                <table id="osc_table" class="table-dg table-trade-info table table-hover table-sm table-borderless">
                    <thead>
                        <tr>
                            <th>Nombre</th>
                            <th class="text-end" style="width: 15%">Valor</th>
                            <th class="text-end" style="width: 15%">Cambio</th>
                            <th class="text-center" style="width: 15%">Accion</th>
                        </tr>
                    </thead>                    
                    <tbody></tbody>
                </table>
            </row>
            <row class="col border border-secondary rounded">
                <h6 class="text-info pt-2 text-center">
                    Medias Moviles
                </h6>
                <table id="ma_table" class="table-dg table-trade-info table table-hover table-sm table-borderless">
                    <thead>
                        <tr>
                            <th>Nombre</th>
                            <th class="text-end" style="width: 15%">Valor</th>
                            <th class="text-end" style="width: 15%">Cambio</th>
                            <th class="text-center" style="width: 15%">Accion</th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </row>

        </div>
        
    </div>
    

{% else %}
    <div class="container text-center">
        <h6>No existe registro de datos</h6>
    </div>
{% endif %}


{% endblock %}


{% block script %}
<script>

    function execute_trade() {

        var quote_qty = 1*($('#quote_qty').val());
        if ($('#quote_qty').val() > 10)
        {
            $('#trade_parameters').hide();
            $('#trade_log').html('Procesando el trade. Aguarde un instante...')
            $('#trade_log').show();

            data = {
                symbol: '{{alert.symbol}}',
                quote_qty: quote_qty,
                side: {{alert.side}},
                in_price: {{alert.in_price}},
                tp1: {{alert.tp1}},
                sl1: {{alert.sl1}},
            }
            
            url = '{% url "alerts_execute" %}'
            get_ajax(url,data).done( function (rsp) {
                if (rsp)
                {
                    $('#trade_log').html('');
                    $('#trade_log').append('<div class="text-success">Ejecutado OK</div>');
                }
            }); 
        }
        else
        {
            alert('Se debe especificar una cantidad de USDT mayor a 10.00!');
        }
    }

    function ia_analize()
    {
        var data = {
            prompt: $('#ia_prompt').text(),
        }
        url = '{% url "alerts_ia_prompt" %}';
        get_ajax(url,data).done( function (rsp) {
            if (rsp)
            {
                $('#gemini_spinner').hide();
                html_ia_response = '';
                if (rsp.error) {
                    html_ia_response = '<div class="text-danger">Error al obtener respuesta de la IA</div>';
                    html_ia_response += '<pre class="text-danger">'+rsp.error+'</pre>';
                }
                else if (rsp.ia_response) {
                    Object.entries(rsp.returns).forEach(([key, label]) => {
                        const value = rsp.ia_response[key];  // Accede dinámicamente al valor en rsp
                        html_ia_response += `<div><div class="text-secondary">${label}</div>${value}</div>`;
                    });
                                  
                }
                $('#ia_response').html(html_ia_response);
            }
        }); 
    }

    var fullData;
    $(document).ready(function () {

        updatePriceInPerc({{actual_price}})
        ia_analize();

        const chartContainer = document.getElementById('chart');

        // Create the Lightweight Chart within the container element
        const chart = LightweightCharts.createChart(chartContainer, {
            height: 400,
            width: parseInt($('#chart').css('width')),
            layout: {
                background: { color: '#222' },
                textColor: '#DDD',
            },
            grid: {
                vertLines: { color: '#444' },
                horzLines: { color: '#444' },
            },
            crosshair: { mode: LightweightCharts.CrosshairMode.Normal },
            timeScale: { timeVisible: true, secondsVisible: false },
        });
        chart.priceScale().applyOptions({
            borderColor: '#71649C',
        });
        chart.timeScale().applyOptions({
            borderColor: '#71649C',
        });
        const currentLocale = window.navigator.languages[0];
        const myPriceFormatter = p => p.toFixed({{qty_decs_price}});
        chart.applyOptions({
            localization: {
                priceFormatter: myPriceFormatter,
            },
        });
        window.addEventListener('resize', () => {
            chart.resize(parseInt($('#chart').css('width')), 400);
        });


        const mainSeries = chart.addSeries(LightweightCharts.CandlestickSeries, {
            lastValueVisible: true,
            priceLineVisible: true,
        });
        
        addCandlestickData(mainSeries);

        const dataSize = fullData.length;
        if (dataSize >= 96) {
            chart.timeScale().setVisibleLogicalRange({
                from: dataSize-96,
                to: dataSize,
            });
        }

        const tp1Series = chart.addSeries(LightweightCharts.LineSeries, {
            color: '#0ecb81',
            lineWidth: 1,
            lastValueVisible: false,
            priceLineVisible: false,
        });
        const tpData = [
            { time: formatDateTime('{{alert.start_dt}}'), value: {{alert.tp1}} },
        ];
        tp1Series.setData(tpData);
              
        const sl1Series = chart.addSeries(LightweightCharts.LineSeries, {
            color: '#f6465d',
            lineWidth: 1,
            lastValueVisible: false,
            priceLineVisible: false,
        });
        const slData = [
            { time: formatDateTime('{{alert.start_dt}}'), value: {{alert.sl1}} },
        ];
        sl1Series.setData(slData);
        
        const inPriceSeries = chart.addSeries(LightweightCharts.LineSeries, {
            color: '#ffffff',
            lineWidth: 1,
            lastValueVisible: false,
            priceLineVisible: false,
        });
        const inPriceData = [
            { time: formatDateTime('{{alert.start_dt}}'), value: {{alert.in_price}} },
        ];
        inPriceSeries.setData(inPriceData);


        //SUPERTREND
        supertrend = TA.SuperTrend(fullData);
        const supertrend_color = supertrend.map(point => ({
            time: point.time,
            value: point.value,
            color: point.direction > 0 ? '#0ecb81' : '#f6465d' 
        }));
        const supertrendSeries = chart.addSeries(LightweightCharts.LineSeries, {
            lineWidth: 1,
            lastValueVisible: false,
            priceLineVisible: false,
        });
        supertrendSeries.setData(supertrend_color);


        // --- 3. CONEXIÓN WEBSOCKET PARA DATOS EN TIEMPO REAL ---
        const symbol = ('{{alert.symbol}}').toLowerCase();
        const interval = '{{alert.timeframe}}';
        const socket = new WebSocket(`wss://fstream.binance.com/ws/${symbol}@kline_${interval}`);

        socket.onmessage = (event) => {
            const message = JSON.parse(event.data);
            const kline = message.k; 

            upd_time = (kline.t / 1000) - (3 * 3600)  // Tiempo de inicio de la vela, GMT-3
            new_kline = {
                time: upd_time,
                open: parseFloat(kline.o),
                high: parseFloat(kline.h),
                low: parseFloat(kline.l),
                close: parseFloat(kline.c),
                volume: parseFloat(kline.v),
            }
            mainSeries.update(new_kline);

            updatePriceInPerc(parseFloat(kline.c));

            updateFullData(new_kline);

            tp1Series.update({
                time: upd_time,
                value: {{alert.tp1}},
            });
            sl1Series.update({
                time: upd_time,
                value: {{alert.sl1}},
            });
            inPriceSeries.update({
                time: upd_time,
                value: {{alert.in_price}},
            });
            
        };

        socket.onerror = (error) => {
            console.error('WebSocket Error:', error);
        };
    });

    const formatDateTime = (datetimeString) => {
        const date = new Date(datetimeString);
        return alignUnixTo15MinCandle(Math.floor(date.getTime() / 1000));
    };


    const alignUnixTo15MinCandle = (unixTimestamp) => {
        const interval = 15 * 60;  // 900 segundos
        return Math.floor(unixTimestamp / interval) * interval;
    };

    
    function addCandlestickData(mainSeries) {

        klinesData = JSON.parse('{{ json_klines|safe }}');
        
        fullData = klinesData.map(kline => ({
            time: formatDateTime(kline.datetime),
            open: kline.open,
            high: kline.high,
            low: kline.low,
            close: kline.close,
            volume: kline.volume,
        }));

        mainSeries.setData(fullData);
        
        get_technical_analize(fullData);

    }

    function updateFullData(new_kline)
    {
        var is_new = false;
        if (fullData.length > 0 && new_kline.time === fullData[fullData.length - 1].time) {
            fullData[fullData.length - 1] = new_kline;
        } else {
            fullData.push(new_kline);
            is_new = true
        }
    }

    function updatePriceInPerc(actual_price)
    {
        var pi_perc = 0.0;
        var pi_legend = '';
        var pi_class = 'text-secondary';
        var in_range = true;
        if ({{alert.side}} > 0) { //LONG
            pi_perc = to_dec((actual_price/{{alert.in_price}}-1)*100 , 2);
            if (actual_price < {{alert.sl1}} || actual_price > {{alert.tp1}})
            {
                pi_legend = 'Fuera de rango';
                pi_class = 'text-danger';
                in_range = false;
            }
            else if (Math.abs(pi_perc) < ({{alert.tp1_perc}}/3))  
            {
                pi_legend = '';
                pi_class = 'text-success';
            }
            else
            {
                pi_legend = '';
                pi_class = 'text-warning';
            }
            
        }
        else { //SHORT
            pi_perc = to_dec(({{alert.in_price}}/actual_price-1)*100 , 2);
            if (actual_price>{{alert.sl1}} || actual_price<{{alert.tp1}})
            {
                pi_legend = 'Fuera de rango';
                pi_class = 'text-danger';
                in_range = false;
            }
            else if (Math.abs(pi_perc) < ({{alert.tp1_perc}}/3))  
            {
                pi_legend = '';
                pi_class = 'text-success';
            }
            else
            {
                pi_legend = '';
                pi_class = 'text-warning';
            }            
        }
        $('#actual_price').html(actual_price);
        $('#price_in_perc').html(`${pi_perc}% ${pi_legend}`);
        $('#price_in_perc').attr('class',pi_class);

        if (in_range) {
            $('#trade_operation').show();
            $('#trade_operation_off').hide();
        }
        else {
            $('#trade_operation').hide();
            $('#trade_operation_off').show();
        }
    }

    setInterval(function () {
        get_technical_analize(fullData);
        },1000*60*5); //Cada 5 minutos

    function get_technical_analize(fullData)
    {
        const arr_klines = fullData.map(item => [item.open, 
                                                 item.high, 
                                                 item.low, 
                                                 item.close, 
                                                 item.volume]
                                                 );

        data = {
            klines: JSON.stringify(arr_klines),
        }
        url = '{% url "alerts_ta" %}';
        get_ajax(url,data).done( function (rsp) {
            if (rsp)
            {
                if (rsp.ok) {
                    updateTA(rsp.result);
                }
            }
        });  
    }

    function getsignalSpan(text) {
        var cls = 'text-secondary';
        if (text=='Compra' || text=='Compra Fuerte')
            cls = 'text-success';
        else if (text=='Venta' || text=='Venta Fuerte')
            cls = 'text-danger';
        return '<span class="'+cls+'">'+text+'</span>';
    }

    function updateTA(result) {
        $('#buy_signals').html(result.buy_signals);
        $('#sell_signals').html(result.sell_signals);
        $('#neutral_signals').html(result.neutral_signals);
        $('#ma_buy_signals').html(result.ma_buy_signals);
        $('#ma_sell_signals').html(result.ma_sell_signals);
        $('#ma_neutral_signals').html(result.ma_neutral_signals);
        $('#osc_buy_signals').html(result.osc_buy_signals);
        $('#osc_sell_signals').html(result.osc_sell_signals);
        $('#osc_neutral_signals').html(result.osc_neutral_signals);

        $('#main_verdict').html(getsignalSpan(result.final_verdict));

        $('#final_verdict').html(getsignalSpan(result.final_verdict));
        $('#ma_final_verdict').html(getsignalSpan(result.ma_final_verdict));
        $('#osc_final_verdict').html(getsignalSpan(result.osc_final_verdict));

        var ma_table = $('#ma_table tbody');
        var osc_table = $('#osc_table tbody');
        ma_table.html('');
        osc_table.html('');
        for (const k in result.signals) {
            var signal = result.signals[k];

            decs = {{qty_decs_price}};
            if (signal.hasOwnProperty('Decs'))
                decs = signal.Decs;
            
            var tr = '<tr>';
            tr += '<td>'+signal.Indicator+'</td>';
            tr += '<td class="text-end">'+to_dec(signal.Value,decs)+'</td>';
            tr += '<td class="text-end text-'+(signal.Slope>0?'success':'danger')+'">'+to_dec(signal.Slope,2)+'</td>';
            tr += '<td class="text-center">'+getsignalSpan(signal.Signal)+'</td>';
            tr += '</tr>';
                
            if (signal.Type == 'MA')
                ma_table.append(tr);
            else
                osc_table.append(tr);
            
        } 
    }


</script>

{% endblock %}