{% extends 'base.html' %}
{% block title %}BackTest Simple{% endblock %}
{% block nav_title %}BackTest Simple{% endblock %}

{% load static %}

{% block css %}
{% endblock %}

{% block content %}

<div class="container  pb-4" id="config">
    <div class="row">
        <div class="col-3">
            Bot Class                                    
        </div>
        <div class="col-9 fw-bold">
            {{bot_class_name}}
        </div>
    </div>
    <div class="row pt-2">
        <div class="form-group col-6">
            <label for="periodo" class="form-label">Periodo</label>
            <input class="form-control" list="datalistOptionsPeriodo" id="periodo" placeholder="Type to search...">
            <datalist id="datalistOptionsPeriodo">
                {% for p in periodos %}
                <option value="{{p.str}}" data-file="{{p.file}}" data-start="{{p.start}}" data-end="{{p.end}}" data-symbol="{{p.symbol}}" data-interval_id="{{p.interval_id}}">
                {% endfor %}
            </datalist>
        </div>
        <div class="form-group col-6">
            <label for="mirror" class="form-label">Espejar Velas</label>
            <select class="form-control" id="mirror">
                <option value="00">No</option>
                <option value="10">Verticalmente</option>
                <option value="01">Horizontalmente</option>
                <option value="11">Vertical y Horizontalmente</option>
            </select>
        </div>
    </div>



    <div class="fw-bold  pt-3">Parametros del BackTesting</div>
    <div id="parametros" class="row" >

    </div>
    
</div>
<div class="container"></div>
    <div class="form-group row ">
        <div class="col-12 d-grid gap-2">
            <div class="btn btn-success " id="btn_ejecutar" onclick="ejecutar()">Ejecutar</div>
            <div class="btn btn-secondary " id="btn_wait" style="display: none;" onclick="showConfig()">
                <div>Procesando Backtesting</div>
                <div id="ajax_spinner" class="spinner-border text-light" role="status" >
                    <span class="visually-hidden">Loading...</span>
                </div>
            </div>
            <div class="btn btn-primary " id="btn_return" style="display: none;" onclick="showConfig()">Volver a la configuracion</div>
        </div>
    </div>
</div>
<input type="hidden" id="estrategia_id" value="{{estrategia.id}}">
<input type="hidden" id="quote_qty" readonly value="1000">
<div class="container  pb-4" id="run" style="display:none;">
    {% include 'trade_results.html' %}
</div>

{% endblock %}

{% block script %}




<script>

    $(document).ready(function () {
        {% for k,prm in parametros.items %}

            addParametro('{{prm.c}}', '{{prm.d}}', '{{prm.v}}', '{{prm.t}}','{{prm.l}}');
        {% endfor %} 
        $('#periodo').val('BTCUSDT 1d Completo desde el 2021-01-01 al 2023-07-31');
    })


    function addParametro(parametro,descripcion,value,type,limit)
    {
        html = '<div class="col-6">';
        html += '<div class="pt-1 form-group prm">'
        if (type != 'symbol')
            html += '<label class="form-label" for="'+parametro+'_v">'+descripcion+'</label>';
        else
            html += '<label class="form-label" >'+descripcion+'</label>';
        html += '<input type="hidden" id="'+parametro+'_c" class="parametro"  value="'+parametro+'">';
        
        if (type == 'perc')
        {
            html += '<div class="input-group">'+
                    '<span class="input-group-text" >%</span>'+
                    '<input class="form-control value estr_prm" id="'+parametro+'_v" value="'+parseFloat(value).toFixed(2)+'" '+
                        ' data-limit="'+limit+'" data-type="'+type+'" data-descripcion="'+descripcion+'">'+
                    '</div>';
        }
        else if (type == 'symbol')
        {
            html += '<span class="form-control" >Definidos en periodos de BackTest</span>';
            html += '<input class="value" value="BACKTEST" type="hidden" id="'+parametro+'_v" >';
        }
        else if (type == 't_int')
        {
            html += '<td><div class="input-group ">'+
                    '<select class="form-control value" id="'+parametro+'_v">'+
                    '<option value="c" '+(value=='c'?'SELECTED':'')+' >Compuesto</option>'+
                    '<option value="s" '+(value=='s'?'SELECTED':'')+' >Simple</option>'+
                    '</select>'+
                    '</div></td>';
        }
        else if (type == 'bin')
        {
            html += '<td><div class="input-group ">'+
                    '<select class="form-control value" id="'+parametro+'_v">'+
                    '<option value="1" '+(value=='1'?'SELECTED':'')+' >Si</option>'+
                    '<option value="0" '+(value=='0'?'SELECTED':'')+' >No</option>'+
                    '</select>'+
                    '</div></td>';
        }
        else
        {
            html += '<input class="form-control value estr_prm" id="'+parametro+'_v"  value="'+value+'" '+
                        ' data-limit="'+limit+'" data-type="'+type+'" data-descripcion="'+descripcion+'">';
        }
        html += '</div></div>';
        var qty = $('#parametros').append(html);
    }

    function ejecutar() {
        makeWait()
        var url = '{% url "backtesting_run" %}';
        var periodoValue = $('#periodo').val();
        var periodo = $("[value|='"+periodoValue+"']");
        
       
        data = {
                bot_class_name: '{{bot_class_name}}',
                from_date: periodo.attr('data-start'),
                to_date: periodo.attr('data-end'),
                symbol: periodo.attr('data-symbol'),
                interval_id: periodo.attr('data-interval_id'),
                file: periodo.attr('data-file'),
                quote_qty: $('#quote_qty').val(),
                mirror: $('#mirror').val(),
            }
        err = ''
        if (!data.interval_id || !data.symbol || !data.from_date || !data.to_date || !data.file)
        {
            err += 'Se deben seleccionar un Periodo valido<br>';
        }
        if (parseFloat(data.quote_qty*1) <= 0)
            err += 'Se deben especificar Capital<br>';
        
        data.parametros = getParametros();
        if (!data.parametros)
           err += 'Se deben completar todos los parametros para el BackTesting<br>';
        
        if (err)
        {
            html_alert('Errores detectados',err,'text-danger');
            showConfig();
        }
        else
        {
            $('#btn_ejecutar').attr('disabled',true);
            get_ajax(url,data).done( function (rsp) {
                if (rsp.error)
                {
                    html_alert('Errores detectados',rsp.error,'text-danger')
                    showConfig()
                }
                else if (rsp.ok)
                {
                    $('#add_resultado_title').html('BOT {{bot_class_name}}');
                    data = rsp.bt.data
                    
                    timeUnit = 'minute';
                    if (rsp.parametros.interval_id.substring(1, 2) == 'd')
                        timeUnit = 'day';
                    else if (rsp.parametros.interval_id.substring(1, 2) == 'h')
                        timeUnit = 'hour';
                    
                    if (rsp.bt.events)
                        evnts = rsp.bt.events;
                    else
                        evnts = [];
                    chartDraw(data, evnts, rsp.parametros.symbol, timeUnit )
                    infoDraw(rsp.bt);
                                       
                    showRun()
                }
            });    
        }
    }

    function getParametros()
    {
        var parametros = '['; 
        var err=0;
        var ok=0
        $('#parametros .prm').each( function () {
            parametro = $(this).find('.parametro').val();
            value = $(this).find('.value').val();
            if (parametro.length>0 && value.length>0)
            {
                parametros += "{'"+parametro.trim()+"':'"+value.trim()+"'}, ";
                ok++;
                $(this).removeClass('text-danger');
            }
            else if (parametro || value)
            {
                $(this).addClass('text-danger');
                err++;
            }
        });
        parametros += ']';
        if (err>0 || ok==0)
            return false;
        return parametros;

    }

    function makeWait()
    {
        $('#btn_wait').show();
        $('#btn_ejecutar').hide();
        $('#btn_return').hide();

    }
    function showConfig()
    {
        $('#btn_wait').hide();
        $('#btn_ejecutar').show();
        $('#btn_return').hide();

        $('#config').show();
        $('#run').hide();
        if (root)
            root.dispose();
        $('#chardiv-tab-pane').html('');
    }
    function showRun()
    {
        $('#btn_wait').hide();
        $('#btn_ejecutar').hide();
        $('#btn_return').show();

        $('#config').hide();
        $('#run').show();
    }
    



</script>

{% endblock %}