{% extends 'base.html' %}
{% block title %}BackTest #{{backtest.id}}{% endblock %}
{% block nav_title %}BackTest #{{backtest.id}}{% endblock %}

{% load static %}

{% block action_bar %}
<span class="btn btn-primary btn-sm" onclick="clonar('{{backtest.id}}')">Clonar</span>
<span class="btn btn-danger btn-sm" onclick="eliminar('{{backtest.id}}')">Eliminar</span>
{% endblock %}

{% block css %}
<style>
    /* CSS */

</style>
{% endblock %}

{% block content %}
<div class="container">
    <div class="row pb-2">
        <div class="col-2">Bot
            <div class="data">{{backtest.name}}</div>
        </div>
        <div class="col-2">Estado
            <div class="data">{{backtest.str_estado}}</div>
        </div>
        <div class="col-2">Intervalo
            <div class="data">{{backtest.str_interval}}</div>
        </div>
        <div class="col-3">Usuario
            <div class="data">{{backtest.usuario.username}}</div>
        </div>
        {% if backtest.completo == 100 %}
        <div class="col-3 rounded border border-1 text-center" >
           
                SCORING <b>{{scoring}}</b>
                <br>
                {{scoring_str}}
                

        </div>
        {% endif %}
    </div>
    <div class="row rounded border border-1 " style="font-size: 0.8em;">
        <div class="pt-2 text-info">Parametros</div>
        <div class="d-flex flex-row flex-wrap pb-1 mb-1">
            {% for k,prm in parametros.items %}
                {% if prm.c != 'symbol' %}
                    <div class="w-25 py-1">{{prm.d}}: <b>{{prm.str}}</b></div>
                {% endif %}
            {% endfor %}
        </div>
    </div>
</div>

{% if backtest.completo < 100 %}
    <div class="container text-center pt-2">
        <h5 class="text-info">Proceso del BackTest</h5>
    </div>
    <div class="container font-monospace rounded border border-1" style="font-size: 1em;">
        {% if backtest.completo < 100 %}
        <div class="row">
            <div class="progress" role="progressbar"  aria-valuemin="0" aria-valuemax="100" style="height: 1px">
                <div id="progress_bar" class="progress-bar" width="{{backtest.completo}}%"></div>
            </div>

        </div>
        {% endif %}
        <div class="row pt-2" id="en_curso" style="display: none;">
            <div class="row">
                <div class="col-2">
                    <h6 class="text-info">Procesando:</h6>
                </div>
                <div class="col text-success" id="en_curso_str">
                    
                </div>
            </div>
        </div>

        <div class="row" id="periodos">
            {% include 'backtest_view_periodos.html' %}
        </div>
    </div>
{% else %}
    <div class="container text-center pt-2">
        <h5 class="text-info">Resultado del BackTest</h5>
    </div>
    <div class="container font-monospace rounded border border-1" style="font-size: 1em;">
        <ul class="nav nav-tabs" id="myTab" role="tablist">
            {% for resultado in resultados %}
            <li class="nav-item" role="{{resultado.codigo}}">
              <button class="nav-link {% if resultado.codigo == 'general' %} active{% endif %}" id="{{resultado.codigo}}-tab" data-bs-toggle="tab" data-bs-target="#{{resultado.codigo}}-tab-pane" type="button" role="tab" aria-controls="{{resultado.codigo}}-tab-pane" aria-selected="false" tabindex="-1">{{resultado.titulo}}</button>
            </li>
            {% endfor %}
          </ul>

        <div class="tab-content" id="myTabContent">
            {% for resultado in resultados %}
            <div class="tab-pane fade {% if resultado.codigo == 'general' %} show active{% endif %}" id="{{resultado.codigo}}-tab-pane" role="tabpanel" aria-labelledby="{{resultado.codigo}}-tab" tabindex="0" >
                {{resultado.html}}
            </div>
            {% endfor %}
        </div>
    </div>
{% endif %}
    
{% endblock %}

{% block script %}
<script>
    var next_key = '{{next.key}}';
    var next_str = '{{next.str}}';

    $(document).ready(function () {
        if (next_str)
        {
            execute_next();
        }
        var completo = '{{backtest.completo}}%'
        $('#progress_bar').width(completo)
    })

    function eliminar()
    {
        if (confirm('Desea eliminar el BackTest {{backtest.name}}?'))
            window.location = '{% url "backtest_delete" backtest.id %}';
    }

    function clonar()
    {
        window.location = '{% url "backtest_clone" backtest.clase backtest.id %}';
    }
    

    function execute_next()
    {
        $('#en_curso').show();
        $('#en_curso_str').html(next_str);
        url = '{% url "backtest_execute" backtest.id %}';
        data = {
                key: parseInt(next_key),
                }
        get_ajax(url,data).done( function (rsp) {
            if (rsp.error)
            {
                html_alert('Errores detectados',rsp.error,'text-danger')
            }
            else if (rsp.ok)
            {
                $('#estado').html(rsp.str_estado);
                if (rsp.completo<100)
                {
                    $('#estado').addClass('text-warning');
                }
                else
                {
                    $('#estado').removeClass('text-warning');
                    $('#estado').addClass('text-success');
                    $('#progress_bar').addClass('bg-success');
                    window.location = '{% url "backtest_view" backtest.id %}';
                }
                $('#periodos').html(rsp.html_periodos);
                $('#progress_bar').width(rsp.completo+'%');
                
                if (rsp.next_key)
                {
                    next_key = rsp.next_key;
                    next_str = rsp.next_str;
                    setTimeout(function () {
                        execute_next();       
                    },300);
                }


            }
        });    
    }
</script>
{% endblock %}