{% extends 'base.html' %}
{% block title %}Bots{% endblock %}
{% block nav_title %}Bots{% endblock %}

{% load static %}

{% block head %}
<script
    type="text/javascript"
    src="{% static 'scripts/lightweight-charts.lbisaro.js' %}?v0">
    </script>
<script
    type="text/javascript"
    src="{% static 'scripts/lightweight-charts.add.js' %}?v0">
    </script>

{% endblock %}

{% block action_bar %}
<a class="btn btn-primary btn-sm" href="{% url 'bot_create' %}">Crear bot</a>
{% endblock %}

{% block css %}
<style>
    table#bots tr {
        cursor: pointer;
    }

    .box {
        padding: 0.5rem;
        margin: 0.5rem;
        box-sizing: border-box;
        border-radius: 5px;
        border: 1px solid #444;
        cursor: pointer;
        min-width: 250px;
    }

    .box_activo {
        border-top: 3px solid #0dcaf0;
    }

    .box_inactivo {
        border-top: 3px solid #6c757d;
    }

    .status_row {
        font-family: var(--bs-font-monospace);
        font-size: 0.8em;
        
    }

</style>
{% endblock %}

{% block content %}
<div class="container pb-3"> 
    <select class="form-control" onchange="filterPNL(this.value)">
        <option value="__general__" selected>PNL General</option>
        {% for c in clases_estrategia %}
        <option value="{{c}}" >PNL {{c}}()</option>
        {% endfor %}
    </select>
</div>
<div class="container" id="chart"></div>
<h6 class="text-info text-center">Bots</h6>
<div class="container">
    <div class="d-flex flex-wrap">

        <!-- Bots ACTIVOS -->
        {% for b in bots %}
        {% if b.estrategia_activo > 0 and b.activo > 0%}
        <div class="box box_activo" onclick="ver('{{b.bot_id}}')">
            <div>{{b.estrategia}}</div>
            {% for k,item in b.status.items %}
                {% if item.s and item.r != 0%}
                    <div class="status_row"><span class="text-secondary">{{item.l}}:</span> <span {% if item.cls %} class="{{item.cls}}"{% endif %}>{{item.v}}</span></div>
                {% endif %}
            {% endfor %}

        </div>
        {% endif %}
        {% endfor %}
    </div>
    
    <div class="d-flex flex-wrap">
        <!-- Bots y Estrategias INACTIVOS -->
        {% for b in bots %}
        {% if b.estrategia_activo < 1 or b.activo < 1 %}
        <div class="box box_inactivo" onclick="ver('{{b.bot_id}}')">
            <div class="row">
                <div class="col-9">{{b.estrategia}}</div>
                <div class="col-3 status_row"><span {% if b.status.pnl.cls %} class="{{b.status.pnl.cls}}"{% endif %}>{{b.status.pnl.v}}</span></div>

            </div>

        </div>
        {% endif %}
        {% endfor %}
    </div>
</div>
    
{% endblock %}

{% block script %}
{{ pnl_diario|json_script:"pnl-diario" }}
<script>
var pnlSeries = null;
var chart = null;

$(document).ready(function () {

    //Preparando los datos
    const mainData = JSON.parse(document.getElementById('pnl-diario').textContent);
    const pnlData = mainData.map(d => ({
        time: formatTime(d[0]),
        value: d[1],
    }));
    const bnhData = mainData.map(d => ({
        time: formatTime(d[0]),
        value: d[2],
    }));
    
    //Creando el chart
    if (mainData.length>0){

        const lwc = new LWC('chart',200);
        lwc.chart.applyOptions({
            timeScale: { 
                timeVisible: false, 
            },
        });

        pnlSeries = lwc.addPnlSeries(pnlData,1, 100, 2, '', 'right');
        bnhSeries = lwc.addBnHSeries(bnhData,2, 100, 2, 'B&H', 'left');
        
        chart = lwc.getChart();
        lwc.fullView();
        
    }
});

function ver(id)
{
    window.location = '{% url "bot" 0 %}'.replace('0',id);
}

function filterPNL(estrategia_clase)
{
    url = '{% url "bot_pnl_estrategia" 0 %}'.replace('0',estrategia_clase);
    data = null;
    get_ajax(url,data).done( function (rsp) {
        if (rsp.ok > 0)
        {
            const pnlData = rsp.pnl_diario.map(d => ({
                    time: formatTime(d[0]),
                    value: d[1],
                }));
            const bnhData = rsp.pnl_diario.map(d => ({
                    time: formatTime(d[0]),
                    value: d[2],
                }));
            pnlSeries.setData(pnlData);
            bnhSeries.setData(bnhData);
            chart.timeScale().fitContent();
        }
    });
}

</script>

{% endblock %}