{% extends 'base.html' %}
{% block title %}Bots{% endblock %}
{% block nav_title %}Bots{% endblock %}

{% load static %}

{% block action_bar %}
<a class="btn btn-primary btn-sm" href="{% url 'bot_create' %}">Crear bot</a>
{% endblock %}

{% block css %}
<style>
    table#bots tr {
        cursor: pointer;
    }

    .box {
        width: 22%;  /* 1/3 del ancho */
        padding: 0.5rem;
        margin: 0.5rem;
        box-sizing: border-box;
        border-radius: 5px;
        border: 1px solid #444;
        cursor: pointer;
    }

    .status_row {
        font-family: var(--bs-font-monospace);
        font-size: 0.8em;
        
    }

</style>
{% endblock %}

{% block content %}

<div class="container">
    <div class="d-flex flex-wrap">
        {% for b in bots %}
        <div class="box {{alert.status_class}}" onclick="ver('{{b.bot_id}}')">
            <div class="row">
                <div class="col-9 text-{% if b.estrategia_activo > 0 and b.activo %}success{% else %}danger{% endif %}">{{b.estrategia}}</div>
                <div class="col-3 text-end">{{b.intervalo}}</div>
            </div>
            {% for k,item in b.status.items %}
                {% if item.l %}
                    <div class="status_row"><span class="text-secondary">{{item.l}}:</span> <span {% if item.cls %} class="{{item.cls}}"{% endif %}>{{item.v}}</span></div>
                {% else %}
                    <div class="status_row"><span class="text-secondary">{{k}}:</span> <span>{{item}}</span></div>
                
                {% endif %}

            {% endfor %}

        </div>
        {% endfor %}
    </div>
</div>
    
{% endblock %}

{% block script %}
<script>
function ver(id)
{
    window.location = '{% url "bot" 0 %}'.replace('0',id);
}
</script>
{% endblock %}