{% extends 'base.html' %}
{% block title %}{{title}}{% endblock %}
{% block nav_title %}{{nav_title}}{% endblock %}

{% load static %}
{% load tz %}

{% block action_bar %}
    
    <a class="btn btn-primary  btn-sm" href="{% url 'sw_add_trades' sw_id symbol_id%}">Agregar Trades</a>
    <a class="btn btn-primary btn-sm" href="{% url 'sw_view' sw_id %}">Volver a la Smart Wallet</a>
    
{% endblock %}

{% block css %}
<style>
    table#assets tbody tr {
        cursor: pointer;
    }

</style>
{% endblock %}

{% block content %}
<div class="container">
    <div class="row pt-2">
        <div class="col-sm">
            <span class="text-secondary">Par:</span>  
            <span class="col ">{{symbol}}</span>
        </div>
    </div>
    
    {% if chart %}
    <div class="row pt-4">
        <h6 class="text-info text-center">Grafico</h6>
    </div>
    <div class="row" style="margin-top: -80px;">  
        {{ chart|safe }}
    </div>
    {% endif %}

    <div class="row pt-4">
        <h6 class="text-info text-center">Evolucion de las Ordenes</h6>
        <table id="assets" class="table-dg table-trade-info">
            <thead>
                <tr>
                    <th class="">
                        Fecha Hora</th>
                    <th class="text-end">
                        Cantidad<br/>{{symbol.base_asset}}</th>
                    <th class="text-end">
                        Precio</th>
                    <th class="text-end">
                        Valor Orden<br/>{{symbol.quote_asset}}</th>
                    <th class="text-end">
                        Precio Promedio</th>
                    <th class="text-end">
                        Stock<br/>{{symbol.base_asset}}</th>
                    <th class="text-end">
                        Ganancias Realizadas<br/>{{symbol.quote_asset}}</th>
                    <th class="text-end">
                        Ganancias No Realizadas<br/>{{symbol.quote_asset}}</th>
                    <th class="text-end">
                        Ganancias Total<br/>{{symbol.quote_asset}}</th>
                    <th class="text-end" title="">
                        Precio/Precio promedio-1<br/>(%)</th>


                </tr>
            </thead>
            <tbody>
                {% for data in full_orders %}
                <tr onclick="sw_view_orders('{{data.symbol_id}}')" >
                    <td class="">{{data.datetime}}</td>
                    <td class="{{data.row_class}} text-end">  
                        {% if data.side == 1 %}-{% endif %}{{data.qty}}</td>
                    <td class="{{data.row_class}} text-end">{{data.price}}</td>
                    <td class="{{data.row_class}} text-end">
                        {% if data.side == 0 %}-{% endif %}{{data.valor_orden}}</td>
                    <td class="text-end {% if data.average_buy_price > data.price %} text-danger {% else %} text-success {% endif %}">
                        {% if data.average_buy_price != 0 %} {{data.average_buy_price}} {% else %}-{% endif %}</td>
                    <td class="text-end">
                        {% if data.open_quantity != 0 %} {{data.open_quantity}} {% else %}-{% endif %}</td>
                    <td class="text-end {% if data.realized_pnl < 0 %} text-danger {% else %} text-success {% endif %}">
                        {{data.realized_pnl}}
                    </td>
                    <td class="text-end {% if data.unrealized_pnl < 0 %} text-danger {% else %} text-success {% endif %}">
                        {{data.unrealized_pnl}}
                    </td>
                    <td class="text-end {% if data.total_pnl < 0 %} text-danger {% else %} text-success {% endif %}">
                        {{data.total_pnl}}
                    </td>
                    <td class="text-end {% if data.price_distance_percent < 0 %} text-danger {% else %} text-success {% endif %}">
                        {{data.price_distance_percent}} %
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

</div>
<input type="hidden" id="sw_id" value="{{sw_id}}">
{% endblock %}

{% block script %}
<script>

</script>
{% endblock %}