{% extends 'base.html' %}
{% block title %}Smart Wallet{% endblock %}
{% block nav_title %}Smart Wallet{% endblock %}

{% load static %}

{% block head %}
<script
    type="text/javascript"
    src="https://unpkg.com/lightweight-charts/dist/lightweight-charts.standalone.production.js">
    </script>
<script
    type="text/javascript"
    src="{% static 'scripts/my-lightweight.js' %}">
    </script>
{% endblock %}

{% block action_bar %}
<a class="btn btn-primary btn-sm" href="{% url 'sw_create' %}">Crear Smart Wallet</a>
<a class="btn btn-primary btn-sm" href="{% url 'sw_capital' %}">Gestionar Capital</a>
{% endblock %}

{% block css %}
<style>
    table#sws tbody tr {
        cursor: pointer;
    }

</style>
{% endblock %}

{% block content %}
<div class="container">

    <table id="sws" class="table-dg">
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Stable Coin</th>
                <th>Assets</th>
                <th>Estado</th>
            </tr>
        </thead>
        
        <tbody>
            {% for sw in sws %}
            <tr onclick="sw_view('{{sw.sw_id}}')" >
                <td>{{sw.name}}</td>
                <td>{{sw.quote_asset}}</td>
                <td>{{sw.assets}}</td>
                <td>
                    {% if sw.activo > 0 %} 
                    <span class="text-success">Activo</span>
                    {% else %}
                    <span class="text-danger">Inactivo</span>
                    {% endif %}
                </td>
                
            </tr>
            {% endfor %}
        </tbody>
        
    </table>
</div>

<div class="container pt-4">
    <h6 class="text-info text-center">PNL Historico</h6>
    <div id="chart"></div>
</div>

<div class="container pt-4">
    <h6 class="text-info text-center">Detalle de la Wallet</h6>
    <table id="wallet_info" class="table-dg table-trade-info">
        <thead>
            <tr>
                <th>Categoria</th>
                <th></th>
                <th class="text-center" colspan="3">USD</th>
                <th class="text-center" colspan="3">Asset</th>
            </tr>
            <tr>
                <th></th>
                <th>Asset</th>
                <th class="text-end" style="width: 14%;">Total</th>
                <th class="text-end" style="width: 14%;">Libre</th>
                <th class="text-end" style="width: 14%;">Bloqueado</th>
                <th class="text-end" style="width: 14%;">Total</th>
                <th class="text-end" style="width: 14%;">Libre</th>
                <th class="text-end" style="width: 14%;">Bloqueado</th>
            </tr>
        </thead>
        <tbody>

            {% for tag_key, tag_info in wallet_data.assets.items %}
            <tr>
                
                <td colspan="8">
                    <button id="btn_{{tag_key}}" onclick="toogle_details('{{tag_key}}')" class="btn btn-sm btn-outline-secondary"><i class="bi bi-arrow-bar-up"></i></button>
                    <span class="text-info">{{tag_info.tag_name}}</span> 
                    <i >({{tag_info.perc}}%)</i>
                    <span class="text-info">USD {{tag_info.total}} </span> 
                    
                </td>
            </tr>

                {% for asset_symbol, asset_details in tag_info.assets.items %}
                    {% if asset_details.total_usd != 0 %}
                    <tr class="detail_{{tag_key}}">
                        <td></td>
                        <td>{{ asset_symbol }}</td>
                        <td class="text-end" >{% if asset_details.total_usd != 0 %} {{ asset_details.total_usd }}{% endif %}</td>
                        <td class="text-end" >{% if asset_details.free_usd != 0 %} {{ asset_details.free_usd }}{% endif %}</td>
                        <td class="text-end" >{% if asset_details.locked_usd != 0 %} {{ asset_details.locked_usd }}{% endif %}</td>
                        <td class="text-end" >{% if asset_details.total != 0 %} {{ asset_details.total }}{% endif %}</td>
                        <td class="text-end" >{% if asset_details.free != 0 %} {{ asset_details.free }}{% endif %}</td>
                        <td class="text-end" >{% if asset_details.locked != 0 %} {{ asset_details.locked }}{% endif %}</td>
                        <!--
                        <td>${{ asset_details.price|floatformat:4 }}</td>
                        -->
                    </tr>
                    {% endif %}
                {% endfor %}

            {% endfor %}
        </tbody>
    </table>

</div>


    
{% endblock %}

{% block script %}
{{ pnl_data|json_script:"pnl-data" }}
<script>
function sw_view(id)
{
    window.location = '{% url "sw_view" 0 %}'.replace('0',id);
}

function toogle_details(tag_key)
{
    var i = $('#btn_'+tag_key+' i');
    if (i.attr('class') == 'bi bi-arrow-bar-up')
    {
        i.attr('class','bi bi-arrow-bar-down');
        $('.detail_'+tag_key).hide();
    }
    else
    {
        i.attr('class','bi bi-arrow-bar-up');
        $('.detail_'+tag_key).show();
    }
}

$(document).ready(function () {

    toogle_details('OTHERS');

    //Preparando los datos
    const mainData = JSON.parse(document.getElementById('pnl-data').textContent);
    const pnlData = mainData.map(d => ({
        time: Date.parse(d[0])/1000,
        value: d[1],
    }));

    //Creando el chart
    if (mainData.length>0){

        const lwc = new LWC('chart',200);
        
        lwc.chart.applyOptions({
            timeScale: { 
                timeVisible: false, 
            },
        });
        
        pnlSeries = lwc.addPnlSeries(pnlData);
                
        chart = lwc.getChart();

    }

});
</script>
{% endblock %}